<!--The content below is only a placeholder and can be replaced.-->



<div  class="container">
<app-project-display></app-project-display>
<router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<div class="bottom section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright">
                    <p>© <span>2019</span> <a href="#" class="transition">Techticket9567</a> All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
