<div class="container">

        <div class="price-slider">
                <h4 class="great">Users</h4>
                <div class="col-sm-12">
                  <div id="slider"></div>
                </div>
              </div>  
    
        </div>
        
        <div class="container content">
        <div class="row">
            <!-- Pricing -->
            <div class="col-md-3">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3>Basic</h3>
                        <h4 data-start="0" data-end="5"><i>€</i>0<i></i></h4>
                        <h4 data-start="6" data-end="10" style="display: none"><i>€</i>59<i></i></h4>
                        <h4 data-start="11" data-end="20" style="display: none"><i>€</i>99<i></i></h4>
                        <h4 data-start="21" data-end="30" style="display: none"><i>€</i>149<i></i></h4>
                        <h4 data-start="31" data-end="40" style="display: none"><i>€</i>199<i></i></h4>
                        <h4 data-start="41" data-end="50" style="display: none"><i>€</i>249<i></i></h4>
                        <h4 data-start="51" data-end="60" style="display: none"><i>€</i>299<i></i></h4>
                        <h4 data-start="61" data-end="70" style="display: none"><i>€</i>349<i></i></h4>
                        <h4 data-start="71" data-end="80" style="display: none"><i>€</i>389<i></i></h4>
                        <h4 data-start="81" data-end="90" style="display: none"><i>€</i>429<i></i></h4>
                        <h4 data-start="91" data-end="100" style="display: none"><i>€</i>479<i></i></h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            At vero eos
                        </li>
                        <li>
                            No Support
                        </li>
                        <li>
                            Fusce condimentum
                        </li>
                        <li>
                            Ut non libero
                        </li>
                        <li>
                                Consecte adiping elit
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing hover-effect">
                        <div class="pricing-head">
                            <h3>Reports</h3>
                            <h4 data-start="0" data-end="5"><i>€</i>39<i></i></h4>
                            <h4 data-start="6" data-end="10" style="display: none"><i>€</i>79<i></i></h4>
                            <h4 data-start="11" data-end="20" style="display: none"><i>€</i>139<i></i></h4>
                            <h4 data-start="21" data-end="30" style="display: none"><i>€</i>199<i></i></h4>
                            <h4 data-start="31" data-end="40" style="display: none"><i>€</i>259<i></i></h4>
                            <h4 data-start="41" data-end="50" style="display: none"><i>€</i>319<i></i></h4>
                            <h4 data-start="51" data-end="60" style="display: none"><i>€</i>379<i></i></h4>
                            <h4 data-start="61" data-end="70" style="display: none"><i>€</i>439<i></i></h4>
                            <h4 data-start="71" data-end="80" style="display: none"><i>€</i>499<i></i></h4>
                            <h4 data-start="81" data-end="90" style="display: none"><i>€</i>559<i></i></h4>
                            <h4 data-start="91" data-end="100" style="display: none"><i>€</i>599<i></i></h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li>
                                At vero eos
                            </li>
                            <li>
                                No Support
                            </li>
                            <li>
                                Fusce condimentum
                            </li>
                            <li>
                                Ut non libero
                            </li>
                            <li>
                                Consecte adiping elit
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing hover-effect">
                        <div class="pricing-head">
                                <h3>Video</h3>
                                <h4 data-start="0" data-end="5"><i>€</i>79<i></i></h4>
                                <h4 data-start="6" data-end="10" style="display: none"><i>€</i>109<i></i></h4>
                                <h4 data-start="11" data-end="20" style="display: none"><i>€</i>189<i></i></h4>
                                <h4 data-start="21" data-end="30" style="display: none"><i>€</i>279<i></i></h4>
                                <h4 data-start="31" data-end="40" style="display: none"><i>€</i>369<i></i></h4>
                                <h4 data-start="41" data-end="50" style="display: none"><i>€</i>459<i></i></h4>
                                <h4 data-start="51" data-end="60" style="display: none"><i>€</i>549<i></i></h4>
                                <h4 data-start="61" data-end="70" style="display: none"><i>€</i>639<i></i></h4>
                                <h4 data-start="71" data-end="80" style="display: none"><i>€</i>729<i></i></h4>
                                <h4 data-start="81" data-end="90" style="display: none"><i>€</i>819<i></i></h4>
                                <h4 data-start="91" data-end="100" style="display: none"><i>€</i>899<i></i></h4>
                            </div>
                            <ul class="pricing-content list-unstyled">
                                <li>
                                    At vero eos
                                </li>
                                <li>
                                    No Support
                                </li>
                                <li>
                                    Fusce condimentum
                                </li>
                                <li>
                                    Ut non libero
                                </li>
                                <li>
                                    Consecte adiping elit
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--//End Pricing -->
                </div>
            </div>    
    