.container {
    border: 1px black solid;
    border-radius: 8px;
    padding: 1em;
    align-self: auto;
    display: flex;
    flex-flow: column;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    margin-top: 10px;
}
