  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">What our clients think!</h1>
      <p class="lead text-muted">"TechTicket saved my business. Thanks guys, keep up the good work! TechTicket is the real deal!"
            - Sorcha F.</p>
      <p>
        <a href="#" class="btn btn-primary">SignUp</a>
        <a href="#" class="btn btn-secondary">Contact Us</a>
      </p>
    </div>
  </section>

  <div class="card-deck">
    <div class="row">
        <div class="card">
        <img class="card-img-top" src="../../assets/Images/company1.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Accounting Specialist</h5>
            <p class="card-text">"I am so pleased with this product. Thank you for making it painless, pleasant and most of all hassle free! TechTicket impressed me on multiple levels."
                    - Clifford A.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Updated by CliffA</small>
        </div>
        </div>
        <div class="card">
        <img class="card-img-top" src="../../assets/Images/company2.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">HR Manager</h5>
            <p class="card-text">"I am really satisfied with my TechTicket. I use TechTicket often. I couldn't have asked for more than this."
                    - Hermina T.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Updated my HerminaT</small>
        </div>
        </div>
        <div class="card">
        <img class="card-img-top" src="../../assets/Images/company3.png" alt="Card image cap" >
        <div class="card-body">
            <h5 class="card-title">CFO</h5>
            <p class="card-text">"TechTicket did exactly what you said it does. Dude, your stuff is the bomb! TechTicket is awesome! TechTicket is exactly what our business has been lacking."
                    - Gene Z.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Updated by GeneZ</small>
        </div>
        </div>
    </div>
    <div class="row" style="padding-top: 30px">
        <div class="card">
            <img class="card-img-top" src="../../assets/Images/company3.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Art Director</h5>
            <p class="card-text">"I STRONGLY recommend TechTicket to EVERYONE interested in running a successful online business! It's exactly what I've been looking for."
                    - Mohan P.</p>
            </div>
            <div class="card-footer">
            <small class="text-muted">Updated by MohanP</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/Images/company1.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Lead Sales</h5>
            <p class="card-text">"I could probably go into sales for you. I'm good to go. We've seen amazing results already."
                    - Frederico F.</p>
            </div>
            <div class="card-footer">
            <small class="text-muted">Updated by FredericoF</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/Images/company2.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Team Manager</h5>
            <p class="card-text">"TechTicket has got everything I need. I don't always clop, but when I do, it's because of TechTicket. I have gotten at least 50 times the value from TechTicket."
                    - Eve S.</p>
            </div>
            <div class="card-footer">
            <small class="text-muted">Updated by EveS</small>
            </div>
        </div>
    </div>
  </div>