
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="padding-top: 0px">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/Images/serverroom.svg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/Images/techoffice.svg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/Images/techfinger.svg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container-fluid bg-light" >
    <h1 class="text-center text-dark align-middle" style="padding-top: 20px" >FEATURED CLIENTS</h1>
  </div>

  <div class="container" style="padding-top: 40px">
    <div class="row">
      <div class="col-sm text-center text-dark align-middle">
        <img src="../../assets/Images/company1.png" class="img-thumbnail"> 
      </div>
      <div class="col-sm text-center text-dark align-middle">
        <img src="../../assets/Images/company2.png" class="img-thumbnail">
      </div>
      <div class="col-sm text-center text-dark align-middle">
        <img src="../../assets/Images/company3.png" class="img-thumbnail">
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light" style="padding-top: 40px" >
    <div>
      <h1 class="text-center text-dark align-middle" style="padding-top: 20px" >Expert Tech Support Services</h1>
    </div>  
  </div>

  <blockquote class="blockquote text-center">
      <p class="mb-0">"I am really satisfied with my Tech support. I'd be lost without Tech support. It fits our needs perfectly."</p>
      <footer class="blockquote-footer">Thomas Train <cite title="Source Title">Tech Magazine</cite></footer>
    </blockquote>

    <div class="container" style="padding-top: 40px">
        <div class="row">
          <div class="col-sm text-center text-dark align-middle">
            <img src="../../assets/Images/cloud-download.svg" class="img-fluid" style="height: 40px">
            <figcaption class="figure-caption text-center font-weight-bold">Cloud Support</figcaption> 
          </div>
          <div class="col-sm text-center text-dark align-middle">
            <img src="../../assets/Images/file-binary.svg" class="img-fluid" style="height: 40px">
            <figcaption class="figure-caption text-center font-weight-bold">Server Support</figcaption>
          </div>
          <div class="col-sm text-center text-dark align-middle">
            <img src="../../assets/Images/desktop-download.svg" class="img-fluid" style="height: 40px">
            <figcaption class="figure-caption text-center font-weight-bold">Internet Support</figcaption>
          </div>
          <div class="col-sm text-center text-dark align-middle">
            <img src="../../assets/Images/database.svg" class="img-fluid" style="height: 40px">
            <figcaption class="figure-caption text-center font-weight-bold">Database Support</figcaption>
            </div>
        </div>
      </div>
      <br><br>