<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">    
    <img src="../../assets/Images/TechTicketLogoWhite_20.png" alt="logo">   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/customers">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/demo">Demo</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/new">New Ticket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/display">View Tickets</a>
        </li>
  
      </ul>
    </div>
  </nav>