.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-top: 65px;
}

.end {
    align-self: flex-end;
}
.btn-md {
    margin: 0 0 0 3px;
    float: right;
}

.wrapper {
    min-height: calc(100vh - 250px);
}

a {
    color: black;
}
a:hover {
    text-decoration: none;
    color: rgb(34, 86, 228);
    font-size: large;
}
.card {
    width: 100%;
    margin: 0px;
}
.row {
    height: auto;
}
