div {
    margin-top: 80px;

}

.container {
    display: flex;
    flex-direction: column;
}

.end {
    align-self: flex-end;
}
.btn-md {
    margin: 0 0 0 3px;
}
.wrapper {
    min-height: calc(100vh - 250px);
}
td {
    border-bottom: 1px solid black;
}